<div>
    <h4>Order Status</h4>
    <table border="1">
        <tr>
            <th>Order</th>
            <th>Current Status</th>
        </tr>
        <tr>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
    </table>
    <br/>
    <form>
        <label>Order</label><input type="text"/><br/>
        <label>New Status</label>
        <select>
            <option disabled selected value>--select an option--</option>
            <option value="shipped">Shipped</option>
            <option value="outForDelivery">Out For Delivery</option>
            <option value="delivered">Delivered</option>
            <option value="cancelled">Cancelled</option>
        </select>
        <br/>
        <input type="submit" value="Submit"><input type="reset" value="Reset">
    </form>
</div>